{% extends 'base.html' %}

{% block content %}
<div class = "text-center mb-4" >
    <h1>Welcome to tweetme2</h1>
</div>

<div class='row text-center mb-3'>
    <div class='col mx-auto col-10'>
        <form method='POST' id='tweet-create-form' class='form' action='/create-tweet'> 
            {% csrf_token %}
            <div class = "d-none alert alert-danger" id='tweet-create-form-error' >
            
            </div>
            <input type='hidden' value='/' name='next'/>
            <textarea required='required' class='form-control' name='content' placeholder='Your tweet...'></textarea>
            <button class = 'btn btn-secondary' type='submit'>Tweet</button>
        </form>
    </div>
</div>

<div id='tweets'>
    Loading...
</div>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function handleTweetFormError(msg, display){
        var myErrorDiv = document.getElementById("tweet-create-form-error")
        if (display === true){
            // show error
            myErrorDiv.setAttribute("class", "d-block alert alert-danger")
            myErrorDiv.innerText = msg
        } else {
            // hide error
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }

    function handleTweetCreateDidSubmit(event){
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        // setujemt heder zeby bylo ajax w pythonie
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function(){
            if (xhr.status === 201){
                let contentErrorMsg;
                handleTweetFormError(contentErrorMsg, false)
                const newTweetJson = xhr.response
                const newTweetElement = formatTweetElement(newTweetJson)
                console.log(newTweetElement)
                const ogHtml = tweetsContainerElement.innerHTML
                tweetsContainerElement.innerHTML = newTweetElement + ogHtml
                myForm.reset()
            } else if (xhr.status === 400){
                const errorJson = xhr.response
                const contentError = errorJson.content
                let contentErrorMsg;
                if (contentError){
                    contentErrorMsg = contentError[0]
                    if (contentErrorMsg) {
                        handleTweetFormError(contentErrorMsg, true)
                    } else {
                        alert("another erorr")
                    }
                } else {
                    alert("another erorr")
                }

            } else if (xhr.status === 500){
                alert("server error")
            }
            else if (xhr.status === 401){
                alert("you mast login")
                window.location.href = "/login"
            }
            else if (xhr.status === 403){
                alert("you mast login")
                window.location.href = "/login"
            }
        }
        xhr.onerror = function(){
            alert("an error ocured, please try later")
        }
        myForm.reset()
        xhr.send(myFormData)
    }

    const tweetCreateFormEl = document.getElementById("tweet-create-form")
    tweetCreateFormEl.addEventListener("submit", handleTweetCreateDidSubmit)

    function loadTweets(tweetsElement){
        const xhr = new XMLHttpRequest() //const to deklaracja typuz zmienej, new nowy obiekt
        const method = 'GET' // Zamiast post
        const url = '/tweets'
        const responseType = "json"
        // ustawiamy typ odpowiedzi
        xhr.responseType = responseType
        // open requset with this method and that url
        xhr.open(method, url)
        // jak skonczymy sie wczytywac strona to to rb
        xhr.onload = function() {
            const serverResponse = xhr.response
            const listedItems = serverResponse // array
            var finalTweetStr = ""
            var i;
            for (i=0;i<listedItems.length; i++){
                var current_item = formatTweetElement(listedItems[i])
                finalTweetStr += current_item
            }
            tweetsElement.innerHTML = finalTweetStr
        }
        xhr.send()
    }

    function handleDidLike(tweet_id, currentCount, action){
        const url = "/api/tweets/action"
        const method = "POST"
        const data = JSON.stringify({
            id: tweet_id,
            action: action,
        })
        const xhr = new XMLHttpRequest()
        const csrftoken = getCookie('csrftoken');
        xhr.open(method, url)
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
        xhr.onload = function(){
            loadTweets(tweetsContainerElement)
            console.log(tweet_id, currentCount, action)
        }
        xhr.send(data)
        return
    }

    // funkcja do dodanie butona
    function LikeBtn(tweet){
        return "<button class='btn btn-primary' onClick=handleDidLike("+
        tweet.id+","+tweet.likes+",'like'"+")>" + tweet.likes + "Like</button>"
    }

    function UnLikeBtn(tweet){
        return "<button class='btn btn-outline-primary' onClick=handleDidLike("+
        tweet.id+","+tweet.likes+",'unlike')>Unlike</button>"
    }

    // funkcja do formatowania tweeta
    function formatTweetElement(tweet){
        var formattedTweet = "<div class = 'col-12 col-md-10 mx-auto border rounded mb-4 py-3 tweet' id ='tweet-'"+tweet.id+"><p>"+
        tweet.content+"</p><div class ='btn-group'>"+
            LikeBtn(tweet)+
            UnLikeBtn(tweet)+
            "</div></div>"
        return formattedTweet
    }

    const tweetsContainerElement = document.getElementById("tweets") // bierzemy to div za pomoca id, czyli get html
    // tweetsElement.innerHTML = "Loading..." // zmieniamy wartosc html
    loadTweets(tweetsContainerElement)
    

    

</script>
{% endblock content %}